<br />
<div class="nav justify-content-center"><h1><%= t('common.all_cards') %></h1></div>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('cards.index.original_text') %></th>
      <th scope="col"><%= t('cards.index.translated_text') %></th>
      <th scope="col"><%= t('cards.index.review_date') %></th>
    </tr>
  </thead>
  <tbody>
  	<% n = 0 %>
  	<% @cards.each do |card| %>
    	<tr>
      	<th scope="row"><%= n += 1 %></th>
     		<td><%= card.original_text %></td>
     		<td><%= card.translated_text %></td>
      	<td><%= card.review_date %></td>
    	</tr>
    <% end %>
  </tbody>
</table>
